

<div  class="row">
  <div  class="col-6"><p>database-list works!</p> </div>  <div  class="col-6">    <label>Фильтр</label>  </div>
</div>
<div  class="row">
  <table class="table table-striped sortable">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="area"  (click)="tableSort('serverName')">Сервер</th>
      <th scope="col" sortable="population"  (click)="tableSort('clusterName')">Кластер</th>
      <th scope="col" sortable="population"  (click)="tableSort('lastStatDate')">пинг</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c  of databaseFilteredList;   index as i ">
      <th scope="row">   {{i+1}} </th>
      <td>
        <a [routerLink]="['/server',  c.id ]"> {{ c. serverName }}</a>

      <td>
        {{ c.clusterName   }}

      </td>
      <td>
        {{ c.lastStatDate  | date: 'dd/MM/yyyy HH:mm:ss'  }}

      </td>
    </tr>
    </tbody>
  </table>
</div>

