<div  class="row">
  <div  class="col-6"> id= {{id}}</div>  <div  class="col-6">  <label>Фильтр</label> <input type="text" #rowFilter (change)="filerChange( rowFilter.value)" (keyup)="filterSetting(rowFilter.value)" [(ngModel)]="filterName" />-</div>
</div>
<div  class="row">
<table class="table table-striped border mt-1">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" [appSort]="_pgSettingFiltered" data-order="desc" data-name="name">Параметр</th>

    <th scope="col" [appSort]="_pgSettingFiltered" data-order="desc" data-name="setting">Значение</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c  of _pgSettingFiltered;   index as i ">

    <td scope="row">   {{i+1}} </td>
    <td  [innerHTML]=" c.name  " ></td>

    <td  [innerHTML]=" c.setting  " ></td>

  </tr>
  </tbody>
</table>
</div>
