
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://passport.mos.ru/Content/layout_set_logo.png" alt="Logo"   height="24" class="d-inline-block align-text-top">
        234234
      </a>
    <a href="#" class="navbar-brand" routerLink="login" *ngIf="!user">Логин</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="user">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a href="/serverDatabaseList" class="nav-link" routerLink="serverDatabaseList">Серверы </a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a href="/userlist" class="nav-link" routerLink="UserlistComponent">Пользователи </a>
      </li>
      <li class="nav-item"  *ngIf="user">
      <a href="#" class="nav-item nav-link"  (click)="logout()">Logout</a>
      </li>
    </ul>
    </div>
  </nav>
<!--    <div>-->
<!--      is only a placeholder-->
<!--    </div>-->
    <div class="container">



      <alert></alert>
      <router-outlet></router-outlet>
    </div>



<!--  -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * *  * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

